<html>
<head>


   
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="http://twitter.github.com/bootstrap/assets/css/docs.css" rel="stylesheet">
    <link href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
    
    <style>
div
{
background-color:white;
}
body {
    margin: 0;
    padding: 0;
    text-align: left; /* !!! */
}
</style>
</head>

<body>


<div id="test" style="margin:0 0;boarder:1;width:641px;">
burrrrrrrrr
{{ token }}
</div>
</body>
</html>